html {
  margin: 0%;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  line-height: 1;
  display: flex;
  flex-direction: column;
  background: linear-gradient(30deg, rgb(213, 162, 255), rgb(149, 207, 255));
  background-repeat: no-repeat;
  height: 100%;
}

h2 {
  font-size: 26px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

p {
  font-size: 26px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

div {
  font-family: 'Inter', sans-serif;
}

.top_container {
  display: flex;
  justify-content: space-between;
  margin: 20px 94px 73px 75px;
  margin-top: 20px;
  margin-left: 73px;
  margin-right: 94px;
}

header h1 {
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  font-weight: 400;
  border-bottom: 5px solid #000;
  margin-top: 0;
  line-height: 1.2;
}

.add_board {
  margin-top: 48px;
}

.add_board_btn {
  font-size: 24px;
  width: 325px;
  height: 77px;
  background: rgba(255, 255, 255, 0.5);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #4b4b4b;
  cursor: pointer;
}

.tasks_container {
  display: flex;
  justify-content: space-evenly;
}

.regular_container,
.in_progress_container,
.problems_container,
.gotovos_container {
  width: 20%;
  height: 100%;
  background: rgba(249, 249, 249, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 20px;
}

.task_container_header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
  width: 100%;
  height: 45px;
  background: rgba(217, 217, 217, 0.7);
  border-radius: 10px 10px 0px 0px;
}

.tasks_header {
  position: absolute;
  margin: 0 auto;
}

.more_btn_d {
  margin-right: 5px;
  margin-left: auto;
}

.more_btn {
  cursor: pointer;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  background: 0;
  border: 0;
}

.circle {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  border: 2px solid #000000;
  border-radius: 50%;
}

.regular_circle {
  background: #bddee7;
}

.task_container {
  background: #e8e8e8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 34px 21px;
  padding: 15px;
}

.task_header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task_header {
  margin-left: 10px;
}

.task_description_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  padding-left: 10px;
  padding-top: 5px;
  border-top: 1px solid #000;
  background: rgba(217, 217, 217, 1);
  border-radius: 0px 0px 10px 10px;
  color: rgba(0, 0, 0, 0.6);
}

.more_btn_desc {
  width: 36px;
  margin-top: auto;
  margin-left: auto;
  font-size: 24px;
}

.more_btn_desc button {
  border: 0;
  cursor: pointer;
  background: 0;
  opacity: 1;
}

.in_progress_container1 {
  background: #e8e8e8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 28px 21px;
  padding: 15px;
}

.in_progress_header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.in_progress_middle {
  margin: 15;
  font-family: 'Inter', sans-serif;
  line-height: 1;
  display: flex;
  flex-direction: column;
}

.in_progress_header {
  margin-left: 10px;
}

.in_progress_description_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  padding-left: 10px;
  padding-top: 5px;
  border-top: 1px solid #000;
  background: rgba(217, 217, 217, 1);
  border-radius: 0px 0px 10px 10px;
  color: rgba(0, 0, 0, 0.6);
}

.more_btn_prog {
  width: 36px;
  margin-top: auto;
  margin-left: auto;
  font-size: 24px;
}

h3 {
  font-size: 26px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.regular_circle1 {
  background: #ffd79c;
}

.problem_container {
  background: #e8e8e8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 28px 21px;
  padding: 15px;
}

.problem_header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.problem_right {
  margin: 15;
  font-family: 'Inter', sans-serif;
  line-height: 1;
  display: flex;
  flex-direction: column;
}

.regular_circle2 {
  background: #ffafaf;
}

.problem_header {
  margin-left: 10px;
}

.problem_description_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  padding-left: 10px;
  padding-top: 5px;
  border-top: 1px solid #000;
  background: rgba(217, 217, 217, 1);
  border-radius: 0px 0px 10px 10px;
  color: rgba(0, 0, 0, 0.6);
}

.name {
  font-size: 34px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.regular_circle3 {
  background: #c6ffd3;
}

.gotovo_container {
  background: #e8e8e8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 28px 21px;
  padding: 15px;
}

.gotovo_header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gotovo_right {
  margin: 15;
  font-family: 'Inter', sans-serif;
  line-height: 1;
  display: flex;
  flex-direction: column;
}

.gotovo_header {
  margin-left: 10px;
}

.gotovo_description_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  padding-left: 10px;
  padding-top: 5px;
  border-top: 1px solid #000;
  background: rgba(217, 217, 217, 1);
  border-radius: 0px 0px 10px 10px;
  color: rgba(0, 0, 0, 0.6);
}

.dop {
  background: #e8e8e8;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  margin: 28px 21px;
  padding: 15px;
  text-align: center;
  width: 90%;
}
.dop:hover {
  background-color: #adadad;
}

/* стилизация содержимого страницы */
.body1 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
}

/* свойства модального окна по умолчанию */
.modal {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* цвет фона */
  z-index: 1050;
  opacity: 0; /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in; /* анимация перехода */
  pointer-events: none; /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
}
/* при отображении модального окно */
.modal:target {
  opacity: 1; /* делаем окно видимым */
  pointer-events: auto; /* элемент видим для событий мыши */
  overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 30px auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}
